@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
For the style of the CRT Filter, including the Flicker, Scanline, and Background, 
credit goes to BowlBird at https://github.com/BowlBird.
Thank you.
*/

/* Background Main Color*/
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 15, 15;
  --background-end-rgb: 15, 15, 15;
}

/* HTML Style, applied to the entire website, including custom cursor (arrow)*/
html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: white;
  word-break: normal;
  scroll-behavior: smooth;
  cursor: url("../public/cursor/arrow.png") -1 0, auto;
  animation: arrow_flicker 0.15s infinite;
}

@keyframes arrow_flicker {
  0% {
    cursor: url("../public/cursor/arrow.png") -1 0, auto;
  }
  50% {
    cursor: url("../public/cursor/arrowOp95.png") -1 0, auto;
  }
  100% {
    cursor: url("../public/cursor/arrow.png") -1 0, auto;
  }
}

/* Style for hand cursor when hovering over a link or button */
a,
button {
  cursor: url("../public/cursor/link.png") 7 0, auto;
  animation: link_flicker 0.15s infinite;
}

@keyframes link_flicker {
  0% {
    cursor: url("../public/cursor/link.png") 7 0, auto;
  }
  50% {
    cursor: url("../public/cursor/linkOp95.png") 7 0, auto;
  }
  100% {
    cursor: url("../public/cursor/link.png") 7 0, auto;
  }
}

/* Style for overflow of long titles, words, paragraphs */
.title-overflow {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Style for header and footer location */
header {
  position: relative;
  top: 0;
  width: 100%;
  height: 2.5rem;
  margin-top: 1rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
}

/* Style for img for pixelated rendering */
.img {
  image-rendering: pixelated;
}

/* Style for bluring containers */
.blur {
  filter: blur(0.015em);
}

@layer base {
  /* Font Styles */
  h1 {
    @apply text-3xl md:text-4xl xl:text-5xl;
    @apply font-bold;
  }

  h2 {
    @apply text-2xl md:text-3xl xl:text-4xl;
    @apply font-bold;
  }

  h3 {
    @apply text-xl md:text-2xl xl:text-3xl;
    @apply font-bold;
  }

  /* Font Style for body, header, and footer */

  body {
    @apply text-lg md:text-xl xl:text-2xl;
  }

  header,
  footer {
    @apply text-2xl md:text-3xl xl:text-4xl;
    @apply font-bold;
  }

  /* Wide font throughout website */
  * {
    @apply tracking-wide;
  }

  .add-margin {
    @apply mx-4 md:mx-8;
  }

  .no-margin {
    @apply mx-0;
  }

  /* Style for smaller br */
  br.small-br {
    display: block;
    content: "";
    @apply mt-2 xl:mt-4;
  }
}

/* Style for chromatic aberration */
.chromatic {
  text-shadow: -3px 0px 1px rgba(255, 0, 0, 0.6),
    2px 0px 1px rgba(0, 0, 255, 0.7);
  animation: chromaticMove 4500ms ease infinite, pulse ease 200ms infinite;
}

/* Style for channel-videos to play as a background to the website */
.channel-videos {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 30%;
  z-index: -2;
  pointer-events: none;
  object-fit: cover;
  filter: blur(2px);
  transform: scale(120%);
}

@keyframes pulse {
  0% {
    opacity: 0.9;
    transform: skewX(0.1deg);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 1;
    transform: skewX(0.1deg);
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes chromaticMove {
  0% {
    text-shadow: -3px 1px 1px rgba(251, 12, 12, 0.6),
      2px -1px 1px rgba(12, 79, 251, 0.7);
  }
  50% {
    text-shadow: -2px 1px 1px rgba(251, 12, 12, 0.6),
      3px -1px 1px rgba(12, 79, 251, 0.7);
  }
  100% {
    text-shadow: -3px 1px 1px rgba(251, 12, 12, 0.6),
      2px -1px 1px rgba(12, 79, 251, 0.7);
  }
}

/* Styles for getting an old crt tv look, including: scanlines, flicker, and a moving scanline */
.crt::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 4px, 5px 100%;
  pointer-events: none;
  z-index: 5;
  animation: flicker 0.15s infinite;
}

.scanline {
  width: 100%;
  height: 100px;
  z-index: 10;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: fixed;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}

/* Animations for scanline and flicker */
@keyframes scanline {
  0% {
    bottom: 100%;
    opacity: 0.2;
  }
  10% {
    bottom: 100%;
    opacity: 0.3;
  }
  90% {
    bottom: 0%;
    opacity: 0.2;
  }
  100% {
    bottom: 0%;
    opacity: 0;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.37;
  }
  5% {
    opacity: 0.35;
  }
  10% {
    opacity: 0.37;
  }
  15% {
    opacity: 0.32;
  }
  20% {
    opacity: 0.34;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.35;
  }
  35% {
    opacity: 0.32;
  }
  40% {
    opacity: 0.35;
  }
  45% {
    opacity: 0.31;
  }
  50% {
    opacity: 0.33;
  }
  55% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.36;
  }
  65% {
    opacity: 0.32;
  }
  70% {
    opacity: 0.37;
  }
  75% {
    opacity: 0.33;
  }
  80% {
    opacity: 0.35;
  }
  85% {
    opacity: 0.32;
  }
  90% {
    opacity: 0.38;
  }
  95% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.38;
  }
}
